[submodule "firmware/lib/libopencm3"]
	path = firmware/lib/libopencm3
	url = git@github.com:libopencm3/libopencm3.git
[submodule "firmware/lib/freertos"]
	path = firmware/lib/freertos
	url = git@github.com:hairymnstr/freertos-cortex
[submodule "firmware/lib/gristle"]
	path = firmware/lib/gristle
	url = git@github.com:hairymnstr/gristle
[submodule "sch/library"]
	path = sch/library
	url = git@github.com:hairymnstr/ndkicadlibrary
